
.didnt-make-it-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .didnt-make-it-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      margin: 20px;
    }

    button{
      margin: 20px;
    }


  }
}

.link-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .new-link{
    display: block;

    margin-top: 100px;
    .link-button{


      font-size: 20px;
    }

  }

}

.tamagotchi-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .tamagotchi-box{

    .top-panel{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

    }
    .info-panel{
      margin: 20px;

        .green{
          color: #23d160;
        }
        .red{
          color: #ff3860;
        }

    }
    .image-panel{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20%;

      .tamagotchi-image{
        margin: 10px;
      }
    }
    .button-panel{
      margin: 70px 10px 30px 10px;
      .button{
        margin: 5px ;
      }
    }

    .delete-tamagotchi-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }


  }

}